//hacemos facil
width: 381px;
height: 354px;
color: #1f849d;
font-family: Baskerville;
font-size: 25px;
font-weight: 400;


/* Style for "ASEGURADA" */
width: 90px;
height: 10px;
color: #ffffff;
font-family: "Times New Roman";
font-size: 14px;
font-weight: 700;
text-transform: uppercase;

/* Style for "DE PRECIOS" */
width: 91px;
height: 10px;
color: #ffffff;
font-family: "Times New Roman";
font-size: 15px;
font-weight: 700;
text-transform: uppercase;

/* Style for "ESTABILIDA" */
width: 93px;
height: 10px;
color: #ffffff;
font-family: "Times New Roman";
font-size: 14px;
font-weight: 700;
text-transform: uppercase;

/* Style for "Cobertura" */
width: 111px;
height: 114px;
color: #ffffff;
font-family: "Times New Roman";
font-size: 15px;
font-weight: 700;

/* Style for "Vigilancia" */
width: 113px;
height: 112px;
color: #1f849d;
font-family: "Times New Roman";
font-size: 14px;
font-weight: 700;
/* Style for "Análisis d" */
width: 104px;
height: 96px;
color: #ffffff;
font-family: "Times New Roman";
font-size: 15px;
font-weight: 700;

/* Style for "Asesoría" */
width: 111px;
height: 110px;
color: #ffffff;
font-family: "Times New Roman";
font-size: 15px;
font-weight: 700;

/* Style for "Ellipse 1" */
width: 114px;
height: 113px;
background-color: #464646;

/* Style for "Ellipse 1" */
width: 317px;
height: 317px;


/* Style for "Group 2 co" */
width: 452px;
height: 452px;


/* Style for "Layer 4" */
width: 345px;
height: 345px;
opacity: 0.63;

/* Style for "Layer 5" */
width: 346px;
height: 346px;

/* Style for "Ellipse 1" */
width: 345px;
height: 345px;

/* Style for "Ellipse 1" */
width: 371px;
height: 371px;
background-color: #464646;

/* Style for "Ellipse 1" */
width: 452px;
height: 452px;
opacity: 0.65;

/* Style for "Ellipse 1" */
width: 411px;
height: 412px;
opacity: 0.65;



/* Style for "FORMULARIO" */
width: 209px;
height: 18px;
color: #ffffff;
font-family: Arial;
font-size: 25px;
font-weight: 400;
text-transform: uppercase;
/* Text style for "FORMULARIO" */
letter-spacing: 5px;

/* Style for "Rectangle" */
width: 831px;
height: 191px;
background-color: #a1a1a1;

/* Style for "Disminuimo" */
width: 474px;
height: 83px;
color: #05808c;
font-family: "Helvetica Neue";
font-size: 25px;
font-weight: 400;


/* Style for "Rectangle" */
width: 643px;
height: 162px;
border: 3px solid #04818c;

/* Style for "Layer 3" */
width: 679px;
height: 198px;
opacity: 0.76;

/* Style for "Layer 2 co" */
width: 493px;
height: 268px;
opacity: 0.38;


/* Style for "Layer 2" */
width: 480px;
height: 321px;
opacity: 0.3;

/* Style for "LOGO-ADVIS" */
width: 355px;
height: 94px;

/* Style for "Menu" */
width: 1442px;
height: 114px;

/* Style for "Layer 1" */
width: 103px;
height: 114px;


/* Style for "LOGO-ADVIS" */
width: 210px;
height: 56px;


/* Style for "Contacto" */
width: 90px;
height: 17px;
color: #04818c;
font-family: "Helvetica Neue";
font-size: 23px;
font-weight: 300;
line-height: 30.98px;

/* Style for "Newsroom" */
width: 105px;
height: 16px;
color: #04818c;
font-family: "Helvetica Neue";
font-size: 23px;
font-weight: 300;
line-height: 30.98px;

/* Style for "Servicios" */
width: 87px;
height: 17px;
color: #04818c;
font-family: "Helvetica Neue";
font-size: 23px;
font-weight: 300;
line-height: 30.98px;

/* Style for "Quienes So" */
width: 156px;
height: 18px;
color: #04818c;
font-family: "Helvetica Neue";
font-size: 23px;
font-weight: 300;
line-height: 30.98px;


/* Style for "Home" */
width: 58px;
height: 16px;
color: #04818c;
font-family: "Helvetica Neue";
font-size: 23px;
font-weight: 300;
line-height: 30.98px

/* Style for "Rectangle" */
width: 1442px;
height: 112px;
box-shadow: 0 0 27px rgba(0, 0, 0, 0.3);
background-color: #ffffff;


/* Style for "Layer 19" */
width: 1275px;
height: 198px;

/* Style for "Layer 18" */
width: 645px;
height: 196px;

/* Style for "Layer 17" */
width: 1280px;
height: 220px;

/* Style for "Rectangle" */
width: 1440px;
height: 236px;

/* Style for "Rectangle" */
width: 1283px;
height: 90px;
box-shadow: 0 0 27px rgba(0, 0, 0, 0.3);
background-color: #ffffff;

/* Style for "Group 1" */
width: 1283px;
height: 272px;

/* Style for "Layer 11 c" */
width: 329px;
height: 205px;
opacity: 0.22;

/* Style for "Disclaimer" */
width: 180px;
height: 126px;
color: #ffffff;
font-family: "Helvetica Neue";
font-size: 20px;
font-weight: 300;
line-height: 36px;

/* Style for "Quienes So" */
width: 168px;
height: 162px;
color: #ffffff;
font-family: "Helvetica Neue";
font-size: 20px;
font-weight: 300;
line-height: 36px;

/* Style for "LA VENTA A" */
width: 222px;
height: 122px;
color: #ffffff;
font-family: "Helvetica Neue";
font-size: 20px;
font-weight: 300;
line-height: 36px;


/* Style for "Layer 10" */
width: 22px;
height: 17px;

/* Style for "Layer 9" */
width: 19px;
height: 21px;

/* Style for "Layer 8" */
width: 20px;
height: 22px;

/* Style for "Layer 7" */
width: 1283px;
height: 272px;

/* Style for "black-and-" */
width: 1336px;
height: 906px;
opacity: 0.74;
