{% load static staticfiles %}
<html>
    <head> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>TOURNAMENT</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
        </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
        </script>
    </head>
   
        <style>
            body {
                position: relative; 
                }
                    #section1 {padding-top:50px;height:500px;color: #fff; background-color: #1E88E5;}
                    #section2 {padding-top:50px;height:500px;color: #fff; background-color: #673ab7;}
                    #section3 {padding-top:50px;height:500px;color: #fff; background-color: #ff9800;}
                    #section41 {padding-top:50px;height:500px;color: #fff; background-color: #00bcd4;}
                    #section42 {padding-top:50px;height:500px;color: #fff; background-color: #009688;}
        </style>
    </head>
  
<body data-spy="scroll" data-target=".navbar" data-offset="50">
    <div class="container text center">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>                        
                    </button>
                    <a class="navbar-brand" href="#"><h1>TOURNAMENT</h1>
                        <p>Bienvenido a nuestro torneo oficial</p> 
                    </a>
                    <i class="fa fa-futbol-o" aria-hidden="true"></i>
                </div>
                <div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav">
                            <li><a href="Articuo1.html">Articulo 1</a></li>
                            <li><a href="#section2">Articulo 2</a></li>
                            <li><a href="#section3">Articulo 3</a></li>
                            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown"      href="#">Section 4 <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#section41">Section 4-1</a></li>
                                    <li><a href="#section42">Section 4-2</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>  
    </div>
    <div>
        <ul class="nav nav-pills nav-stacked" role="tablist">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Incripcion</a></li>
            <li><a href="#">Roles</a></li>
            <li><a href="#">Informacion</a></li>        
        </ul>
    </div>    
    <div class="container text-center">
        <h2>Soccer</h2>
    </div>            

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

<!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="/static/champion.jpg" alt="champions" style="height:105vh;width:100%;">
                <div class="carousel-caption">
                    <h3>Champions league</h3>
                    <p>the best league soccer!</p>
                </div>
            </div>
            <div class="item">
                <img src="/static/barcelona.jpg" alt="Barcelona" style="width:100%;">
                <div class="carousel-caption">
                    <h3>Barcelona</h3>
                    <p>Thank you, Barcelona!</p>
                </div>
            </div>
            <div class="item">
                <img src="/static/futbol.jpg" alt="futbol" style="height:103vh;width:100%;">
                <div class="carousel-caption">
                    <h3>Soccer</h3>
                    <p>We love soccer!</p>
                </div>
            </div>

        <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>    
    <div class="panel panel-primary ">
        <div class="panel-heading text-center">Equipos</div>
        </div>
    </div>
    <div class="container text-center">
        <a href="{% url 'agregar' %}">  
            <buttton class="btn btn-success float-right"><i class="fa fa-plus" aria-hidden="true"></i> Agregar equipo</buttton>
        </a>
        <i class="fa fa-table" aria-hidden="true"></i>
        <table class="table table-responsive table-hover table-striped" >
            <thead>
                <tr>
                    <th >Nombre</th>
                    <th>Coach</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for equipo in equipos  %}
                <tr> 
                    <td>{{equipo.nombre}} </td>
                    <td>{{equipo.coach}} </td>
                    <td> 
                        <a href="{% url 'editar' equipo.pk%}">  
                            <button class="btn btn-warning float-right"><i class="fa fa-floppy-o" aria-hidden="true"></i> Editar
                            </button>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'eliminar' equipo.pk %}">
                            <button class="btn btn-danger float-right">
                            <i class="fa fa-trash-o"  aria-hidden="true"></i> Eliminarr</button>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="panel panel-primary ">
            <div class="panel-heading text-center">Jugadores
        </div>
        </div>
            <a href="{% url 'agregarju' %}">    
                <buttton class="btn btn-success float-right"><i class="fa fa-plus" aria-hidden="true"></i> Agregar jugador</buttton>
            </a>
            <table class="table table-responsive table-hover table-striped">
                <thead>
                    <tr>
                        <th>Nombre Equipo</th>
                        <th>Nombre jugador</th>
                        <th>Edad</th>
                    </tr>
                </thead>
                <tbody>
                    {% for jugador in jugadores  %}
                        <tr> 
                            <td>{{jugador.equipo}} </td>
                            <td>{{jugador.nombre}} </td>
                            <td>{{jugador.edad}} </td>
                            <td> 
                                <a href="{% url 'editarju' jugador.pk %}">  
                                    <button class="btn btn-warning float-right"><i class="fa fa-floppy-o" aria-hidden="true"></i> Editar</button>
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'eliminarju' jugador.pk %}"> 
                                    <button class="btn btn-danger float-right"><i class="fa fa-trash-o" aria-hidden="true"></i> Eliminar</button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="panel panel-primary ">
                <div class="panel-heading text-center">Coach
                </div>
            </div>
            <a href="{% url 'agregarco' %}">     
                <buttton class="btn btn-success float-right"><i class="fa fa-plus" aria-hidden="true"></i> Agregar coach</buttton>
            </a>
        
            <table class="table table-responsive table-hover table-striped">
                <thead>
                    <tr>
                        <th>Nombre coach</th>
                        <th>Edad</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for coach in coachs  %}
                    <tr> 
                        <td>{{coach.nombre}} </td>
                        <td>{{coach.edad}} </td>
                        <td> 
                            <a href="{% url 'editarco' coach.pk %}">     
                                <button class="btn btn-warning float-right"><i class="fa fa-floppy-o" aria-hidden="true"></i> Editar</button>
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'eliminarco' coach.pk %}">  
                                <button class="btn btn-danger float-right"><i class="fa fa-trash-o" aria-hidden="true"></i> Eliminar</button>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div>
                <ul class="pager">
                    <span class="step-links">
                    {% if coachs.has_previous %}
                        <li>
                            <a href="?page={{ coachs.previous_page_number }}">previous</a>
                        </li>
                        {% endif %}
                        <span class="current">
                            Page {{ coachs.number }} of {{ coachs.paginator.num_pages }}.
                        </span>
                            {% if coachs.has_next %}
                        <li>
                            <a href="?page={{ coachs.next_page_number }}">next</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <div class="panel panel-primary ">
                <div class="panel-heading text-center">Juegos
                </div>
            </div>
            <a href="{% url 'agregarjue' %}">     
                <buttton class="btn btn-success float-right"><i class="fa fa-plus" aria-hidden="true">  </i> Agregar Juego
                </buttton>
            </a>
            <table class="table table-responsive table-hover table-striped">
                <thead>
                    <tr>
                        <th>Donde</th>
                        <th>Tiempo</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for juego in juegos  %}
                    <tr>      
                        <td>{{juego.donde}} </td>
                        <td>{{juego.tiempo}} </td>
                        <td> 
                            <a href="{% url 'editarjue' juego.pk %}">      
                                <button class="btn btn-warning float-right"><i class="fa fa-floppy-o" aria-hidden="true"></i> Editar</button>
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'eliminarjue' juego.pk %}"> 
                                <button class="btn btn-danger float-right"><i class="fa fa-trash-o" aria-hidden="true"></i> Eliminar</button>
                             </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="panel panel-primary ">
                <div class="panel-heading text-center">Resultados
                </div>
            </div>
                <a href="{% url 'agregarjuere' %}">     
                    <buttton class="btn btn-success float-right"><i class="fa fa-plus" aria-hidden="true"></i> Agregar Resultado
                    </buttton>
                </a>
                <table class="table table-responsive table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Juego</th>
                            <th>Equipo</th>
                            <th>Puntos</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for juegore in juegosresultados  %}
                        <tr> 
                            <td>{{juegore.juego}} </td>
                            <td>{{juegore.equipo}} </td>
                            <td>{{juegore.puntos}} </td>
                            <td> 
                                <a href="{% url 'editarjuere' juegore.pk%}">        
                                    <button class="btn btn-warning float-right"><i class="fa fa-floppy-o" aria-hidden="true"></i> Editar</button>
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'eliminarjuere' juegore.pk %}">   
                                    <button class="btn btn-danger float-right"><i class="fa fa-trash-o" aria-hidden="true"></i> Eliminar</button>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

    </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    </body>

</html>